@import url("https://fonts.googleapis.com/css2?family=Corben&family=Rokkitt&family=Sora&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcf6e8;
  font-family: "Sora", sans-serif;
  color: #141435;
}

/* Navbar Styling */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 120px;
  width: 100%;
}

.nav h1 {
  cursor: pointer;
}
.logo {
  font-family: "Corben", serif;
  font-weight: 700;
  font-size: 2rem;
  color: #141435;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
}

.links {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.list {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.navLinks {
  text-decoration: none;
  color: #141435;
  font-size: 1.2rem;
}

.active {
  border: 2px solid #141435;
  padding: 6px 20px;
  border-radius: 25px;
}

.btn {
  background-color: #373737;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  height: 50px;
  /* width: 120px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sora", sans-serif;
  letter-spacing: 2px;
}

/* Center page Styling */
.main {
  width: 100%;
  display: flex;
  padding-top: 50px;
  padding-bottom: 150px;
  padding-left: 120px;
  padding-right: 120px;
}

.tag {
  width: 45%;
  font-size: 45px;
  font-weight: 900;
  /* padding: 30px 80px; */
}

.tagline {
  padding-bottom: 5px;
}

.pointer {
  width: 120px;
  padding-left: 25px;
}

.startedBtn {
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 4px 4px #363937;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  font-family: "Sora", sans-serif;
  background-color: #fec447;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  gap: 15px;
  transition: all 0.1s;
}

.startedBtn:active {
  box-shadow: none;
  transform: translateY(4px);
}

.arrow {
  height: 20px;
  width: 20px;
}

.pImgsec {
  display: flex;
  width: 55%;
  display: flex;
  position: relative;
  /* justify-content: center; */
  align-items: flex-end;
}
.imgSec {
  width: 100%;
}

.container {
  height: 386px;
  width: 297px;
  display: flex;
  border: 3px solid #141435;
  border-radius: 142px 142px 0px 0px;
}
.c1 {
  position: absolute;
  left: 40%;
  top: 5%;
}
.c2 {
  position: relative;
  top: 8%;
  left: 67%;
  z-index: 2;
}

.pContain {
  height: 100%;
  width: 100%;
  border: 16px solid #fbd6bc;
  border-radius: 140px 140px 0px 0px;
}

.contain {
  height: 100%;
  width: 100%;
  background-color: #6fa6ba;
  border: 3px solid #141435;
  border-radius: 125px 125px 0px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.profile1 {
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.profile2 {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge {
  position: relative;
  left: 30%;
  bottom: 60%;
  width: 25vh;
  background-color: #fcf6e8;
  padding: 0;
  border-radius: 255px;
}

p {
  color: #141435;
  font-size: 1.2rem;
  font-weight: normal;
}

.p {
  padding: 10px 280px 05px 0px;
}

.section {
  width: 100%;
}
.band {
  width: 100%;
  height: 11vh;
  background-color: #141435;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logos {
  width: 180px;
}

.detail {
  width: 100%;
  padding: 80px 40px 180px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.heading {
  font-family: "Sora", sans-serif;
  width: 50%;
}
.detail h1 {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -0.5px;
  word-spacing: 1px;
  padding-bottom: 25px;
}

.bBox {
  width: 80%;
  margin-top: 65px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 50px 0px; */
}

.box {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 45px;
  transition: all 0.2s;
  cursor: pointer;
}

.box:hover {
  border: 2px solid #141435;
  box-shadow: 10px 10px #363937;
}

.box:active {
  box-shadow: none;
  transform: translateY(8px);
}

.box h2 {
  padding-top: 25px;
  padding-left: 15px;
  font-weight: bolder;
}

.box p {
  padding-top: 25px;
  padding-left: 15px;
  font-size: 1rem;
}
.divisions {
  width: 22%;
  border-radius: 5vh !important ;
  display: flex;
  background-color: #fcf6e8;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
  border-radius: 5px;
}

#b1 {
  background-color: #9bd3d0;
}

#b2 {
  background-color: #feccb3;
}

#b3 {
  background-color: #fec447;
}

.whyme {
  background-color: #fec447;
  width: 100%;
  display: flex;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.left {
  width: 50%;
  display: flex;
  align-items: center;
}

.left img {
  width: 75%;
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 100px;
}

.right h1 {
  font-size: 3.5rem;
  color: #fcf6e8;
}

.title {
  display: flex;
  width: 60%;
  flex-direction: column;
  padding: 25px 0px;
}
.title div {
  align-items: center;
  gap: 20px;
  display: flex;
  padding-bottom: 10px;
}

.title h3 {
  font-size: 1.3rem;
}

.title p {
  font-size: 1rem;
}

.btnDiv {
  width: 22%;
}

.display {
  width: 100%;
  display: flex;
  padding: 85px 160px;
  flex-direction: column;
}
.top {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.top div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top p {
  padding-top: 25px;
  padding-bottom: 80px;
}

.pointer {
  transform: rotateX(180deg);
  scale: 2;
  margin-left: 145px;
  position: absolute;
  margin-top: 15px;
}

.projectInfo {
  width: 100%;
  display: flex;
  margin-bottom: 15vh;
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.l {
  margin-left: 150px;
}

.r {
  margin-right: 150px;
}

.tagBtn {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.design .tagBtn {
  background-color: #9bd3d0;
}

.front .tagBtn {
  background-color: #feccb3;
}

.back .tagBtn {
  background-color: #fec447;
}

.info h2 {
  font-size: 28px;
  padding: 10px 0px;
}

.info p {
  font-size: 18px;
  line-height: 28px;
}

.showCase {
  width: 50%;
  display: flex;
  align-items: center;
}

.parentContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.sr {
  display: flex;
  justify-content: left;
}
.sl {
  display: flex;
  justify-content: flex-start;
}

.card {
  transition: all 0.3s;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.shadow {
  display: flex;
  width: 80%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  left: 25px;
  top: 15px;
  border: 2px solid #373737;
  z-index: -1;
}
.design .shadow {
  background-color: #9bd3d0;
}
.front .shadow {
  background-color: #feccb3;
}

.back .shadow {
  background-color: #fec447;
}

.card img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #373737;
  position: relative;
}

.projectBtn {
  margin-top: 25px;
  height: 50px;
  border: 0.12rem solid #373737;
  padding: 10px 20px;
  background-color: #fcf6e8;
  border-radius: 25px;
  font-family: "Sora", sans-serif;
  font-size: 1.1rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.allProj {
  width: 100%;
  display: flex;
  justify-content: center;
}
.projectBtn img {
  transform: rotate(-90deg);
  scale: 0.65;
}

.feedback {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #9bd3d0;
}
.sec {
  padding-left: 120px;
  width: 100%;
  display: flex;
}

.line img {
  width: 74%;
  display: flex;
  margin-top: 25px;
}

.wide {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  padding-top: 80px;
}

.wide h1 {
  font-size: 3.1rem;
}

.WbBox {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.Wbox {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 55px;
  border-radius: 10px;
  background-color: #fbd6bc;
  border: 2px solid #141435;
  box-shadow: 3px 3px 3px #363937;
}

.Wbox h1 {
  font-size: 1.5rem;
}

.ratings {
  display: flex;
  align-items: center;
  padding-top: 15px;
  gap: 1vh;
}

.ratings img {
  width: 5vh;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5vh;
  align-items: center;
  padding-top: 25px;
}

.buttons button {
  width: 5%;
  padding: 5px 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 4px 4px 1px #363937;
  transition: all 0.1s;
  cursor: pointer;
}

.buttons button:active {
  box-shadow: none;
  transform: translateY(4px);
}

#one {
  transform: rotate(90deg);
}
#two {
  transform: rotate(-90deg);
}

.far {
  width: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.far img {
  width: 100%;
}

.line {
  display: flex;
  bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}

.line img {
  position: absolute;
  top: -70px;
  left: -9px;
  transform: rotate(180deg);
}

.contact {
  width: 100%;
  padding: 90px 160px 60px 160px;
  display: flex;
  flex-direction: column;
  background-color: #464846;
  align-items: center;
  justify-content: center;
  color: #fcf6e8 !important;
  gap: 15px;
}

.topDiv {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}

.first {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.first div {
  display: flex;
  gap: 10px;
  padding-bottom: 15px;
}

.first h1 {
  font-family: "Corben", serif;
  font-weight: 700;
  font-size: 2rem;
}

.first img {
  width: 50px;
  filter: invert(1);
}

.first p {
  width: 80%;
}

.topDiv p {
  color: #d6d3cc;
  font-size: 1.1rem;
  font-weight: 100px;
  padding-bottom: 15px;
  width: 80%;
}

.second {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding-left: 50px; */
}

.second div {
  /* padding-top: 15px ; */
  width: 50%;
  display: flex;
  flex-direction: column;
}

.second h2 {
  padding-bottom: 15px;
  font-size: 1.1rem;
}

.second h3 {
  padding-bottom: 15px;
  font-size: 1.1rem;
  color: #d6d3cc;
  font-weight: lighter;
}

.third {
  width: 25%;
}

.third h2 {
  padding-bottom: 15px;
  font-size: 1.1rem;
  font-weight: bold;
}

.subscribe {
  background-color: #fbfbf8;
  width: 95%;
  padding: 6px 6px 6px 25px;
  color: #363937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 17px;
  font-size: 0.9rem;
  box-shadow: 2px 4px 6px #363937;
  border: 1px solid #464846;
}

.subscribe button {
  background-color: #fec447;
  /* box-shadow: 2px 4px 6px black; */
  padding: 18px 25px;
  border-radius: 15px;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid #363937;
  cursor: pointer;
  transition: all 0.3s;
}

.subscribe button:hover {
  background-color: #ffbf34;
  border: 1px solid #ffbf34;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.bottomDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  font-size: 0.7rem;
  color: #fcf6e8;
}

.bottomDiv div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bottomDiv div img {
  filter: invert(1);
  height: 5vh;
  cursor: pointer;
}

.bottomDiv p {
  font-size: 0.98rem;
  color: #fcf6e8;
}
.bottomDiv hr {
  width: 100%;
  border: 1px solid #fbfbf8;
  border-radius: 5px;
  margin-bottom: 15px;
}
/* LOGIN PAGE STYLING */
.base {
  width: 100%;
  height: 100vh;
  display: flex;
}
.thin {
  padding: 40px 80px;
  height: 100%;
  width: 40%;
}

.description {
  width: 100%;
  display: flex;
  margin: 60px 0px 40px 0px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: bolder;
}

.description p{
  color: #6f6969;
}
.form{
  width: 100%;
  margin: 50px 0px 15px 0px;
  display: flex;
  flex-direction: column;
}

.inputFeild{
  border-radius: 10px;
  width: 100%;
  height: 16vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #a3a3a3;
}

.inputFeild div{
  padding:0 20px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#active{
  border-left: 4px solid #141435;

}
#notActive{
  border-left: 4px solid #fcf6e8;
}

.inputFeild div label{
  font-size: 1.1rem;
  font-weight: bolder;
  color: #6f6969;
}
.inputFeild div p{
  font-size: 1.1rem;
  font-weight: bolder;
  /* color: #6f6969; */
}
.inputFeild div input{
  height:40%;
  background-color: #fcf6e8;
  border: none;
}

.actions{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions div{
  display: flex;
  align-items: center;
  gap: 4px;
}
.actions button{
  color: #6f6969;
  border: none;
  background-color: #fcf6e8;
  font-size: 0.9rem;
  font-family: "Sora", sans-serif;
}
.done{
  color: #fcf6e8;
  padding: 40px 0px 30px 0px;
  display: flex;
  gap: 25px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.done button{
  border-radius: 10px !important;
  font-size: 0.9rem;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.3s;
  width: 50%;
  /* padding: 0px 115px!important; */
}

#v2{
  color: #141435;
  background-color: #fcf6e8;
  border: 2px solid #141435;
}


.sso{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0px;
}

.ssoParent{
  width: 100%;
  display: flex;
  position: relative;
  border: 2px solid #141435;
  padding: 25px 25px;
  border-radius: 10px;
  background-color: #f3c2cc;
  /* box-shadow: 2px 2px 2px rgb(146, 145, 145); */
  
}
.ssoChild{
  gap: 5px;
  border: 2px solid #141435;
  padding: 2px 2px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcf6e8;
  position: absolute;
  top: -4px;
  left: -4px;

}

.ssoChild img{
  width: 18px;
}
.fat {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbfbf8 !important;
  background-image: url("./assets/announcement.png");
  filter: saturate(0.6);
  box-shadow: 2px 4px 6px black;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 65%;
  position: relative;
}

.backHome {
  width: 100%;
  position: relative;
  top: -11%;
  padding: 0px 6%;
  border-radius: 10px;
  color: #363937;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  transition: all 0.3s;
}

.backHome button {
  background-color: #ffff;
}
.fatFather {
  width: 100%;
  height: 22%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.fatFather div {
  margin: 4% 4%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #363937;
  border-radius: 10px;
  box-shadow: 2px 2px 1px #363937;
  font-weight: bolder;
}

.fatFather div img {
  width: 30px;
  margin-right: 10px;
}
#id1 {
  justify-content: flex-end;
}
#id2 {
  justify-content: start;
  align-items: center !important;
}
#id3 {
  justify-content: flex-end;
}
#I {
  background-color: #f3c2cc;
  margin-right: 10%;
}
#II {
  background-color: #e0d8ff;
  margin-bottom: 2%;
  margin-left: 8%;
}
#III {
  margin-right: 25%;
  background-color: #fee5c9;
}
